body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    var(--accent-primary),
    var(--accent-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  background: linear-gradient(
    45deg,
    var(--accent-primary),
    var(--accent-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #2563eb;
  border-radius: 5px;
  box-sizing: border-box;
}
#lastbutton {
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  width: 50%;
  padding: 12px;
  margin: 10px 5px 5px 5px;
  background: linear-gradient(
    45deg,
    var(--accent-primary),
    var(--accent-secondary)
  );
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2563eb;
}

button a {
  color: white;
  text-decoration: none;
}